In [1]:
import sqlite3
import pandas as pd

In [2]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 88B8-561F

 Directory of C:\Users\dsilva2\EMAT22110_FA22

10/27/2022  11:17 AM    <DIR>          .
10/27/2022  11:17 AM    <DIR>          ..
10/27/2022  11:16 AM    <DIR>          .ipynb_checkpoints
10/19/2022  12:17 PM            41,566 10-18_in-class.ipynb
10/18/2022  12:18 PM           106,102 10-18_prep.ipynb
10/20/2022  12:17 PM             9,821 10-20_in-class-Spotify.ipynb
10/20/2022  12:17 PM            76,091 10-20_prep_BLS-API.ipynb
10/27/2022  11:17 AM               775 10-27_in-class.ipynb
10/26/2022  08:10 PM            84,335 10-27_prep-SQL.ipynb
10/06/2022  12:23 PM            20,763 10-4_in-class.ipynb
10/18/2022  12:18 PM            31,856 10-6_in-class.ipynb
10/20/2022  12:17 PM           164,720 10-8_Spotify-API-prep.ipynb
08/30/2022  12:14 PM             1,231 8-30_inclass.ipynb
09/01/2022  11:27 AM               696 9-1_in-class.ipynb
09/15/2022  10:19 PM            24,001 9-15_in-class.ipynb
09/22/2022  12:19 PM            12,829 9-22_in-class.ipynb
10/17/2022  02:34 PM            98,823 9-22_prep.ipynb
09/06/2022  12:11 PM           531,684 9-6_in-class.ipynb
10/19/2022  12:27 PM             1,623 bls_data.csv
10/26/2022  07:33 PM    <DIR>          chinook
09/06/2022  09:50 AM    <DIR>          facebook-davidsilva100046_full
09/06/2022  09:48 AM    <DIR>          facebook-davidsilva100046_year-toshare
09/06/2022  09:27 AM           597,973 facebook-davidsilva100046_year-toshare.zip
10/04/2022  10:53 AM    <DIR>          OLD
09/30/2021  04:28 PM            20,755 Sept-30_in-class-Spotify.ipynb
09/01/2022  12:14 PM             2,232 Silva_SystemsCheck.ipynb
10/18/2022  12:11 PM                89 Spotify-Keys_9-23-21.txt
10/17/2022  04:22 PM           145,509 Spotify-pt1.ipynb
10/04/2022  10:53 AM            17,127 Twitter_API-example.ipynb
09/22/2022  11:49 AM               127 Twitter_Token_9-22.txt
09/21/2022  09:34 PM               125 Twitter-Key_9-21-22.txt
10/20/2022  12:02 PM             1,078 Untitled.ipynb
              25 File(s)      1,991,931 bytes
               7 Dir(s)  190,371,287,040 bytes free

In [3]:
chinook = sqlite3.connect('chinook/chinook.db')

In [4]:
q_albums = '''
SELECT AlbumId, Title
FROM albums
'''

In [25]:
q_albums = '''
SELECT *
FROM albums
WHERE ArtistId > 5
'''

In [30]:
q_albums = '''
SELECT *
FROM albums
WHERE Title LIKE 'A%n'
'''

In [31]:
albums_df = pd.read_sql_query(q_albums, chinook)

In [32]:
albums_df

   AlbumId                                              Title  ArtistId
0       90                           Appetite for Destruction        88
1      254                                            Aquaman       159
2      319  Armada: Music from the Courts of England and S...       251

In [48]:
q_artists_albums = '''
SELECT Title, a.Name 
FROM albums r
INNER JOIN artists a
ON (r.ArtistId = a.ArtistId)
'''

In [ ]:
q_artists_albums = '''
SELECT Title, a.Name 
FROM albums r
INNER JOIN artists a
ON (r.ArtistId = a.ArtistId)
WHERE a.Name == "AC/DC"
'''

In [49]:
artists_albums_df = pd.read_sql_query(q_artists_albums, chinook)

In [50]:
artists_albums_df

                                   Title   Name
0  For Those About To Rock We Salute You  AC/DC
1                      Let There Be Rock  AC/DC

In [52]:
q_artists_albums_tracks = '''
SELECT Title as Album,
       a.Name as Artist,
       t.Name as Track
FROM albums r
INNER JOIN artists a
ON (r.ArtistId = a.ArtistId)
INNER JOIN tracks t
ON (r.AlbumId = t.AlbumId)
WHERE a.Name == "AC/DC"
'''

In [53]:
artists_albums_tracks = pd.read_sql_query(q_artists_albums_tracks, chinook)

In [54]:
artists_albums_tracks

,Album,Artist,Track
0,For Those About To Rock We Salute You,AC/DC,For Those About To Rock (We Salute You)
1,For Those About To Rock We Salute You,AC/DC,Put The Finger On You
2,For Those About To Rock We Salute You,AC/DC,Let's Get It Up
3,For Those About To Rock We Salute You,AC/DC,Inject The Venom
4,For Those About To Rock We Salute You,AC/DC,Snowballed
5,For Those About To Rock We Salute You,AC/DC,Evil Walks
6,For Those About To Rock We Salute You,AC/DC,C.O.D.
7,For Those About To Rock We Salute You,AC/DC,Breaking The Rules
8,For Those About To Rock We Salute You,AC/DC,Night Of The Long Knives
9,For Those About To Rock We Salute You,AC/DC,Spellbound
10,Let There Be Rock,AC/DC,Go Down
11,Let There Be Rock,AC/DC,Dog Eat Dog
12,Let There Be Rock,AC/DC,Let There Be Rock
13,Let There Be Rock,AC/DC,Bad Boy Boogie
14,Let There Be Rock,AC/DC,Problem Child
15,Let There Be Rock,AC/DC,Overdose
16,Let There Be Rock,AC/DC,Hell Ain't A Bad Place To Be
17,Let There Be Rock,AC/DC,Whole Lotta Rosie

In [56]:
q_artists = '''
SELECT Name, ArtistId
FROM artists
'''
q_albums = '''
SELECT Title, ArtistId, AlbumId
FROM albums
'''
q_tracks = '''
SELECT Name, AlbumId
FROM tracks
'''

artists_df = pd.read_sql_query(q_artists, chinook)
albums_df = pd.read_sql_query(q_albums, chinook)
tracks_df = pd.read_sql_query(q_tracks, chinook)

In [61]:
combined_df = artists_df.merge(albums_df, 'inner', left_on='ArtistId', right_on = 'ArtistId')

In [63]:
combined_df = artists_df.merge(albums_df, 'inner', on = 'ArtistId')

In [64]:
combined_df

,Name,ArtistId,Title,AlbumId
0,AC/DC,1,For Those About To Rock We Salute You,1
1,AC/DC,1,Let There Be Rock,4
2,Accept,2,Balls to the Wall,2
3,Accept,2,Restless and Wild,3
4,Aerosmith,3,Big Ones,5
...,...,...,...,...
342,"Mela Tenenbaum, Pro Musica Prague & Richard Kapp",271,"Locatelli: Concertos for Violin, Strings and C...",342
343,Emerson String Quartet,272,Schubert: The Late String Quartets & String Qu...,344
344,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...",273,Monteverdi: L'Orfeo,345
345,Nash Ensemble,274,Mozart: Chamber Music,346
346,Philip Glass Ensemble,275,Koyaanisqatsi (Soundtrack from the Motion Pict...,347

In [65]:
combined_df = combined_df.merge(tracks_df, 'inner', on = 'AlbumId')

In [66]:
combined_df

,Name_x,ArtistId,Title,AlbumId,Name_y
0,AC/DC,1,For Those About To Rock We Salute You,1,For Those About To Rock (We Salute You)
1,AC/DC,1,For Those About To Rock We Salute You,1,Put The Finger On You
2,AC/DC,1,For Those About To Rock We Salute You,1,Let's Get It Up
3,AC/DC,1,For Those About To Rock We Salute You,1,Inject The Venom
4,AC/DC,1,For Those About To Rock We Salute You,1,Snowballed
...,...,...,...,...,...
3498,"Mela Tenenbaum, Pro Musica Prague & Richard Kapp",271,"Locatelli: Concertos for Violin, Strings and C...",342,"Concerto for Violin, Strings and Continuo in G..."
3499,Emerson String Quartet,272,Schubert: The Late String Quartets & String Qu...,344,"String Quartet No. 12 in C Minor, D. 703 ""Quar..."
3500,"C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...",273,Monteverdi: L'Orfeo,345,"L'orfeo, Act 3, Sinfonia (Orchestra)"
3501,Nash Ensemble,274,Mozart: Chamber Music,346,"Quintet for Horn, Violin, 2 Violas, and Cello ..."
3502,Philip Glass Ensemble,275,Koyaanisqatsi (Soundtrack from the Motion Pict...,347,Koyaanisqatsi

In [57]:
artists_df.head()

                Name  ArtistId
0              AC/DC         1
1             Accept         2
2          Aerosmith         3
3  Alanis Morissette         4
4    Alice In Chains         5

In [58]:
albums_df.head()

                                   Title  ArtistId  AlbumId
0  For Those About To Rock We Salute You         1        1
1                      Balls to the Wall         2        2
2                      Restless and Wild         2        3
3                      Let There Be Rock         1        4
4                               Big Ones         3        5

In [59]:
tracks_df.head()

                                      Name  AlbumId
0  For Those About To Rock (We Salute You)        1
1                        Balls to the Wall        2
2                          Fast As a Shark        3
3                        Restless and Wild        3
4                     Princess of the Dawn        3